# git rm --cached /.idea/misc.xml
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

/venv310/
/venv311_64/

/PTB/ptb_main_astro.log
/PTB/ptb_main_recorder.log

/PTB/.pytest_cache

/src/__pycache__/
/src/ephem_routines/__pycache__/
/src/ephem_routines/ephem_package/__pycache__/

key_win64-20flint12-London.pem
win-20flint12-London.rdp

/src/PTB/ptb_main_astro_dev
/src/PTB/ptb_main_astro_prod

/src/PTB/ptb_main_recorder_dev
/src/PTB/ptb_main_recorder_prod


/.idea/workspace.xml
/.idea/csv-editor.xml

/src/PTB/442763659_photo.png
/.idea/DecisionTree64.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/other.xml
/src/mathplot_package/plot_astro_summary.png
/src/PTB/603862009_photo.png
/src/PTB/5983009083_photo.png
/src/PTB/5354533983_photo.png
/src/PTB/442763659#1042106378#DAILY_photo.png
/src/PTB/603862009#1042106378#DAILY_photo.png
/src/PTB/5354533983#1042106378#DAILY_photo.png
/src/PTB/5983009083#1042106378#DAILY_photo.png
/credentials.json
/src/mathplot_package/btc_data.csv
/src/scikit_mathplot/photo_name.png
