/venv/
/venv310/
/venv311_64/

/PTB/ptb_main_astro.log
/PTB/ptb_main_recorder.log

/PTB/.pytest_cache

/src/__pycache__/
/src/ephem_routines/__pycache__/
/src/ephem_routines/ephem_package/__pycache__/

/.idea/csv-editor.xml

key_win64-20flint12-London.pem
win-20flint12-London.rdp
